/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
@media (prefers-color-scheme: dark) {
  .page {
    --page-color: #000028;
    --main-color: #db00ff;
    --accent-color: #ff0070;
    --header-text-color: #000028;
    --background-image: url(../images/cover-image-dark.png);
    --button-color: #ff0070;
    --button-hover-color: rgb(255, 0, 112, 0.4);
    --record-visibility: visible;
    --section__title-color: #ff0070;
    --card-text-color: #F1B2CE;
    --bold-text-color: #000028;
  }
}

@media (prefers-color-scheme: light) {
  .page {
    --page-color: #fff1f7;
    --main-color: #ffc2e6;
    --accent-color: #ff0070;
    --header-text-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --button-color: #353430;
    --background-text-color: #ff8dcb;
    --record-visibility: hidden;
    --button-hover-color: rgb(53, 52, 48, 0.4);
    --section__title-color: #353430;
    --card-text-color: #353430;
    --bold-text-color: #353430;
  }
}
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--page-color);
}
/*-------------------- ШАПКА ------------------------- */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  padding-top: calc(75 / 668 * 100vh);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
  list-style-type: none;
}
.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  color: var(--button-color);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}
.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--button-color);
  outline: none;
}
.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}
.header__title {
  padding-top: 65px;
  padding-left: 10px;
  color: var(--main-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  text-align: left;
  text-shadow: 4px 4px 0 var(--accent-color);
}
.cover__description {
  align-self: flex-end;
  width: 355px;
  height: 117px;
  margin: 10px;
  margin-top: calc(55 / 668 * 100vh);
}
.cover__description-text {
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}
.title-decor {
  color: var(--header-text-color);
  background-color: var(--background-text-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
}
.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
}

.header__record {
  position: absolute;
  top: 10px;
  right: 71px;
  visibility: var(--record-visibility);
}

.header__record::before {
  content: "REC";
  position: absolute;
  color: var(--accent-color);
  font-weight: 400;
}
.header__record::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 43px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #ff0070;
  background-color: var(--accent-color);
}

@media (768px <= width < 1024px) and (height >= 900px) {
  .header__theme-menu {
    padding-top: 192px;
    padding-right: 10px;
  }
  .header__title {
    padding-top: 175px;
    padding-left: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .cover__description {
    width: 364px;
    height: 117px;
    margin-top: 163px;
    margin-right: 20px;
  }
  .header__record {
    top: 21px;
    right: 81px;
  }
  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }
  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }
}

@media (width >= 1024px) and (height >= 768px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
  .header__theme-menu {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .header__title {
    padding-top: 291px;
    padding-left: 0px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .cover__description {
    width: 491px;
    height: 71px;
    margin: 20px;
    margin-top: 130px;
  }
  .header__record {
    top: 21px;
    right: 81px;
  }
  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }
  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }
}
/*-------------------- ШАПКА ------------------------- */

/*--------------- Основной контент ------------------- */
/* Ссылка */
.link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color); 
}
.link:hover {
  border-bottom: 1px solid var(--card-text-color);
}
.link:focus {
  outline: none;
  border: 1px solid var(--card-text-color);
}
/* Ссылка */

.section {
  margin-bottom: 51px;

}
.section__title {
  color: var(--section__title-color);
  font-size: 18px;
  margin: 40px 10px 20px;
}
.section__card-list {
  margin: 10px;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}
.card__text {
  color: var(--card-text-color);
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}
.section__card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-bold {
  font-weight: bold;
  color: var(--bold-text-color);
}

@media (768px <= width < 1024px) {
  .section {
    margin-left: 10px;
    margin-right: 10px;
  }
  .section__title {
    margin-top: 30px;
    
  }
  .title-bold {
    margin-top: 20px;
  }
  .first-type {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 69px;
  }
  .first-title {
    margin-left: 10px;
    margin-top: 10px;
  }
  .first-list {
    margin-left: 16px;
    
  }
  .second-title {
    width: 236px;
    height: 70px;
  }
  .third-type {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 7px;

  }
}
@media (width >= 1024px) and (height >= 768px) {
  .section {
    margin-left: 10px;
    margin-right: 10px;
  }
  .section__title {
    margin-top: 30px;
    
  }
  .title-bold {
    margin-top: 20px;
  }

  .first-type {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .first-title {
    margin-left: 10px;
    margin-top: 10px;
  }
  .second-title {
    width: calc(1/3 * 100%);
    height: 70px;
    padding-top: 20px;
    margin-bottom: 16px;
  }
  .second-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  }
  .third-type {
    display: grid;
    grid-template-columns: 1fr 2fr;

  }
  
}

/* картиночки */
.gallery {
  margin: 10px;
}
.gallery  .card__title{
  margin-bottom: 20px;
}
.section__gallery-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.photo {
  width: 100%;
  height: 100%;
}
@media (width >= 768px) {
  
  .gallery {
    padding-top: 20px;
    
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
  }
  .section__gallery-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
    grid-template-areas: 
    "first first second"
    "third fourth second"
    "third fifth fifth"
    ;
  }
  .first-pic {
    grid-area: first;
    
  }
  .second-pic {
    grid-area: second;
  }
  .third-pic {
    grid-area: third;
  }
  .fourth-pic {
    grid-area: fourth;
  }
  .fifth-pic {
    grid-area: fifth;
  }
  .photo {  
    object-fit: cover;

  }
  

}
@media (width >= 1024px) and (height >= 768px) {
  .section__gallery-list {
    grid-template-rows: 260px 315px 428px;
  }
}

/* картиночки */

/*--------------- Основной контент ------------------- */

/*-------------------- Подвал ------------------------ */
.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 40px;
}
.footer__text {
  color: var(--main-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 1024px) and (height >= 768px) {
  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}



/*-------------------- Подвал ------------------------ */